<ion-header >
  <script src="cordova.js"></script>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Applicant Form
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content >
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-title color="primary">Personal Details</ion-title>
    </ion-card-header>

    <form>

      <ion-item fill="outline" shape="round" >
        <ion-label position="floating"> Name </ion-label>
        <ion-input  type="text" placeholder="Enter Name" required ></ion-input>
      </ion-item>

      <ion-item fill="outline" shape="round" >
        <ion-label position="floating"> Email </ion-label>
        <ion-input  type="email" placeholder="Enter Email" required ></ion-input>
      </ion-item>

      <ion-item fill="outline" shape="round" >
        <ion-label position="floating"> Age </ion-label>
        <ion-input  type="tel" maxlength="3" placeholder="Enter Age" required></ion-input>
      </ion-item>

      <ion-item fill="outline" shape="round" >
        <ion-label position="floating"> Gender </ion-label>
        <ion-input placeholder="Enter Gender" type="text" required></ion-input>
      </ion-item>

      <ion-buttons shape="round"  >
        <ion-button (click)="onCreate()" fill="solid"  shape="round"  color="dark">create</ion-button>
        <ion-button (click)="onUpdate()" fill="solid"  shape="round"  color="dark">update</ion-button>
        <ion-button (click)="onDelete()" fill="solid"  shape="round"  color="dark">delete</ion-button>

      </ion-buttons>


    </form>
    <ion-button (click)="onLoad()"> Load </ion-button>

  </ion-card>

  <ion-card *ngFor="let item of list" (click)="selectedcard=item.Id ; collapsed=!collapsed" color="tertiary" class="ion-text-center " >
    <ion-card-header> {{item.Name}}</ion-card-header>
    <ion-card-content *ngIf="item.Id === selectedcard && !collapsed">
      {{item.Email}}<br>
      {{item.Gender}}<br>
      {{item.Age}}<br>
    </ion-card-content>
  </ion-card>


  </ion-content>
